.page-header__bottom{
	@include container;
	@include mobile{
		margin-bottom: 50px;
	}
}

//MAIN-NAV

.main-nav{
	position: relative;
	display: inline-block;
	width: 82%;
	@include mobile{
		width: 100%;
	}
}
.main-nav__wrapper--closed{
	display: block;
	@include mobile{
		display: none;
	}
}

.main-nav__list{
	font-size: 0;
	width: 100%;
	@include mobile{
		width: auto;
		display: block;
		padding-top: 60px;
		z-index: 20;
		background-color: #fff;
	}
}
.main-nav__item{
	@include inline(middle);
	position: relative;
	max-width: 180px;

	&:hover {
		background-color: $hover-color;
		box-shadow: -1px 0 0 0 $hover-color;
	} 
	&:hover .main-nav__link{
		color: #fff;
	}
	&:hover .nav-submenu{
		display: block;
	}
	@include mobile{
		max-width: none;
		width: 100%;
		display: block;
		border-bottom: 1px solid #eee;

		&:hover .nav-submenu{
			display: block;
		}
	}
}
.main-nav__link{
	font-size: 15px;
	display: inline-block;
	@include font(pro31);
	text-transform: uppercase;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 17px;
	padding-bottom: 17px;
	position: relative;

	&:after{
		content: "";
		background-color: $font-color;
		width: 1px;
		height: 24px;
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	@include laptop{
		padding-right: 15px;
		padding-left:15px;
	}
	@include tablet{
		font-size: 13px;
		padding-right: 5px;
		padding-left:5px;

	}
	@include mobile{
		width: 100%;
		text-align: center;
		&:after{
			display: none;
		}
	}	
}
.main-nav__item:last-child .main-nav__link:after{
	display: none;
}
.main-nav__item:hover .main-nav__link:after{
	display: none;
}
.main-nav__item:first-child .main-nav__link{
	padding-left: 0;
	@include mobile{
		padding-left: 25px;
	}
}


//SUB-MENU
.nav-submenu{
	display: none;
	position: absolute;
	z-index: 20;
	min-width: 240px;
	border-top: 1px solid $hover-color;
	@include tablet{
		min-width: 180px;
	}
	@include mobile{
		position: static; 
		width: 100%;
		text-align: center;
		background-color: $font-color;
	}
}
.nav-submenu__item{
	background-color:#fff;
	&:hover{
		background-color: #f7f7f7;
	}
	@include mobile {
		background-color: $font-color;
		&:hover .nav-submenu__link{
			color: $font-color;
		}
	}
}
.nav-submenu__link{
	@include font(roboto);
	display: block;
	font-size: 15px;
	padding-top: 17px;
	padding-bottom: 15px;
	padding-left: 25px;
	@include tablet{
		font-size: 12px;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 10px;
	}
	@include mobile{
		color: #fff;	
	}	
	
}


//TOGGLE
.main-nav__toggle{
	width: 50px;
	height: 50px;
	background-color: #fff;
	cursor: pointer;
	z-index: 2;
	display: none;
	position: absolute;
	top: 5px;
	right: 5px;
	box-shadow: 0px 0px 7px 0 $hover-color;
	
	@include mobile{
		display: block;
		right: 15px;
	}
	
}
.main-nav__toggle--closed::before{
	display: block;
	content: "";
	position: absolute;
	top: 15px;
	left: 8px;
	width: 36px;
	height: 3px;
	background-color: $hover-color;
	box-shadow: 0px 8px 0 0 $hover-color, 0px 16px 0 0 $hover-color;
}
.main-nav__toggle--opened::before,
.main-nav__toggle--opened::after{
	content: "";
	position: absolute;
	top: 24px;
	left: 8px;
	width: 36px;
	height: 2px;
	background-color: $hover-color;
}
.main-nav__toggle--opened::before{
	transform: rotate(45deg);
}
.main-nav__toggle--opened::after{
	transform: rotate(-45deg);
}


//SEARCH
.page-header__search{
	width: 17%;
	display: inline-block;
	position: relative;
	@include laptop{
		width: 15%;
	}
	@include mobile{
		display: block;
		width: 50%;
		margin: 0 auto;	
		margin-top: 20px;
	}
}
.search__input{
	width: 100%;
	@include inline(middle);
	border: none;
	outline: none;
	&:focus{
		border-bottom: 1px solid $hover-color;
	}

	@include mobile{
		width:100%;
		margin: 0 auto;
		border-bottom: 1px solid $hover-color;
	}
}
.search__submit{
	@include inline(middle);
	background-color: transparent;
	background-image: url("../img/icons/search.png");
	background-position: center	center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 0px;
	
	
}
