//colors
$font-color: #354343;
$hover-color: #72b13a;

//font
$body-font: 'Roboto', Arial, sans-serif;

//sizes
$mobile: "max-width: 767px";
$tablet: "max-width: 1023px";
$laptop: "max-width: 1279px";
$desktop: "min-width: 1280px";
$footer-height: 47px;